<!DOCTYPE html>
<html lang="es-CO">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador modelo de 5 estados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylo.css') }}">

</head>

<body>
    <header>
        <h1>Gestión de Procesos</h1>
        <nav>
            <a href="{{ url_for('modelo') }}">Menu</a>
        </nav>
    </header>
    <section id="procesos-existentes">
        <h2>Procesos Creados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Recursos en Uso</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in procesos_listos %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                    <td>{{ proceso.get_tamano_proceso() }}</td>
                    <td>{% if proceso.get_recursos_asignados != 0 %}
                        {% for recurso in proceso.get_recursos_asignados() %}
                        {{ recurso.get_nombre_recurso() }},
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>Listo</td>
                </tr>
                {% endfor %}
                {% if proceso_ejecucion %}
                <tr>
                    <td>{{ proceso_ejecucion.get_id_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_nombre_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_tamano_proceso() }}</td>
                    <td>{% for recurso in proceso_ejecucion.get_recursos_asignados() %}
                        {{ recurso.get_nombre_recurso() }}
                        {% endfor %}
                    </td>
                    <td>Ejecución</td>
                </tr>
                {% endif %}
                {% if bloqueados.DiscoDuro %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.DiscoDuro }}</td>
                    <td>.</td>
                    <td>.</td>
                    <td>Bloqueado</td>
                </tr>
                {% endif %}
                {% if bloqueados.TarjetaGrafica %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.TarjetaGrafica }}</td>
                    <td>.</td>
                    <td>.</td>
                    <td>Bloqueado</td>
                </tr>
                {% endif %}
                {% if bloqueados.Impresora %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Impresora }}</td>
                    <td>.</td>
                    <td>.</td>
                    <td>Bloqueado</td>
                </tr>
                {% endif %}
                {% if bloqueados.Archivos %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Archivos }}</td>
                    <td>.</td>
                    <td>.</td>
                    <td>Bloqueado</td>
                </tr>
                {% endif %}
                {% if bloqueados.Red %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Red }}</td>
                    <td>.</td>
                    <td>.</td>
                    <td>Bloqueado</td>
                </tr>
                {% endif %}
                {% for proceso in terminados %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                    <td>{{ proceso.get_tamano_proceso() }}</td>
                    <td></td>
                    <td>Terminado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section id="proceso-en-ejecucion">
        <h2>Proceso en Ejecución</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Recursos</th>
                </tr>
            </thead>
            <tbody>
                {% if proceso_ejecucion %}
                <tr>
                    <td>{{ proceso_ejecucion.get_id_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_nombre_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_tamano_proceso() }}</td>
                    <td>
                        {% for recurso in proceso_ejecucion.get_recursos_asignados() %}
                        {{ recurso.get_nombre_recurso() }},
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No hay proceso en ejecución.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
    <section id="recursos-utilizados">
        <h2>Recursos y Procesos Asignados</h2>
        <table>
            <thead>
                <tr>
                    <th>Recurso</th>
                    <th>Proceso Asignado</th>
                </tr>
            </thead>
            {% for recurso in recursos %}
            <tbody>
                <tr>
                    <td>{{ recurso.get_nombre_recurso() }}</td>
                    <td>
                        {% if recurso.get_proceso() %}
                        {{ recurso.get_proceso().get_nombre_proceso() }}
                        <!-- Aquí se asume que 'proceso' tiene un nombre -->
                        {% else %}
                        No asignado
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="row">
        <a href="{{ url_for('modelo') }}">
            <button>Ir a Modelo de 5 Estados</button>
        </a>
    </div>
    </div>
</body>

</html>