<!DOCTYPE html>
<html lang="es-CO">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estados de un proceso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylo.css') }}">
</head>

<body>
    <header></header>
    <h1>Estados de Proceso</h1>
    <form action="/ejecutar_proceso" method="post" style="position: fixed; top: 60px; right: 20px;">
        <button type="submit" class="btn btn-success">Ejecutar Proceso</button>
    </form>
    <nav>
        <a href="{{ url_for('index') }}">Regresar</a>
    </nav>
    </header>

    <div class="container">
        <div class="row">
            <section id="agregar-proceso">
                    <h1>Nuevo</h1>
                    <form id="nuevo-proceso-form" action="/crear_proceso" method="post">
                        <label for="inputId">ID:</label>
                        <input type="text" id="inputId" name="id" required>
                        <label for="inputNombre">Nombre:</label>
                        <input type="text" id="inputNombre" name="nombre" required>
                        <label for="inputTamano">Tamaño:</label>
                        <input type="number" id="inputTamano" name="tamano" required>
                        <label for="inputRecurso">Recursos</label>
                        {% for recurso in recursos %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="recurso{{ loop.index }}" name="recursos"
                                value="{{ recurso.get_id_recurso() }}">
                            <label class="form-check-label" for="recurso{{ loop.index }}">
                                {{ recurso.get_nombre_recurso() }}
                                {% if recurso.get_proceso() %}
                                <span class="text-danger">(En uso: {{ recurso.get_proceso().get_nombre_proceso()
                                    }})</span>
                                {% else %}
                                <span class="text-success">(Disponible)</span>
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </section>
        </div>
        <section id="proceso-en-listo">
            <h2>Listo</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tamaño</th>
                        <th>Recursos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proceso in procesos_listos %}
                    <tr>

                        <td>{{ proceso.get_id_proceso() }}</td>
                        <td>{{ proceso.get_nombre_proceso() }}</td>
                        <td>{{ proceso.get_tamano_proceso() }}</td>
                        <td>{% for recurso in proceso.get_recursos_necesarios() %}
                            {{ recurso.get_nombre_recurso() }}.
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="proceso-enn-ejecucion">
            <h2>Ejecución</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Proceso</th>
                        <th>Tamaño</th>
                        <th>Recursos Asociados</th>
                    </tr>
                </thead>
                <tbody>
                    {% if proceso_ejecucion %}
                    <tr>
                        <td>{{ proceso_ejecucion.get_id_proceso() }}</td>
                        <td>{{ proceso_ejecucion.get_nombre_proceso() }}</td>
                        <td>{{ proceso_ejecucion.get_tamano_proceso() }}</td>
                        <td>{% for recurso in proceso_ejecucion.get_recursos_asignados() %}
                            {{ recurso.get_nombre_recurso() }}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        <section id="proceso-en-bloqueado">
            <h2>Bloqueados</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Proceso</th>
                        <th>Recursos Esperado</th>
                    </tr>
                </thead>
                <tbody>
                    {% if bloqueados.DiscoDuro %}
                    <tr>
                        <td>.</td>
                        <td>{{ bloqueados.DiscoDuro }}</td>
                        <td>Disco duro</td>
                    </tr>
                    {% endif %}
                    {% if bloqueados.TarjetaGrafica %}
                    <tr>
                        <td>.</td>
                        <td>{{ bloqueados.TarjetaGrafica }}</td>
                        <td>Tarjeta gráfica</td>
                    </tr>
                    {% endif %}
                    {% if bloqueados.Impresora %}
                    <tr>
                        <td>.</td>
                        <td>{{ bloqueados.Impresora }}</td>
                        <td>Impresora</td>
                    </tr>
                    {% endif %}
                    {% if bloqueados.Archivos %}
                    <tr>
                        <td>.</td>
                        <td>{{ bloqueados.Archivos }}</td>
                        <td>Archivos</td>
                    </tr>
                    {% endif %}
                    {% if bloqueados.Red %}
                    <tr>
                        <td>.</td>
                        <td>{{ bloqueados.Red }}</td>
                        <td>Red</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        <section id="proceso-en-terminado">
            <h2>Terminado</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proceso in terminados %}
                    <tr>
                        <td>{{ proceso.get_id_proceso() }}</td>
                        <td>{{ proceso.get_nombre_proceso() }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>